<template lang='pug'>
div
  div.h-screen.p-3
    div.flex.justify-center
      yt-header(@sendIds="onSendResults")
    div.flex.justify-center
      div(
        class="w-full sm:w-4/6"
      )
        template(v-if='videos.length > 0')
          template(v-for='video in videos')
            video-card(:video='video' @onVideoChoosed="openVideo")
  template(v-if='currentVideoId')
    video-player(:videoId.sync='currentVideoId')
</template>


<script>
import api from '../api/index.js';

import YtHeader from './YtHeader.vue';
import VideoCard from './VideoCard.vue';
import VideoPlayer from './VideoPlayer.vue';

export default {
  name: 'Main',
  components: {
    YtHeader,
    VideoCard,
    VideoPlayer
  },
  data: () => ({
    videos: [],
    overlayShow: false,
    currentVideoId: null
  }),
  methods: {
    /**
     * Получает результат запроса
     * @param {any[]} searchResults
     */
    onSendResults(searchResults) {
      if (!searchResults) {
        console.log('error');
        return;
      }

      this.getVideoInfo(searchResults);

    },

    /**
     * Делает запрос на получение информации
     * @param {any[]} searchResults
     */
    async getVideoInfo(searchResults) {
      const ids = searchResults.map(v => v.id.videoId);
      const idsString = ids.toString();
      
      const result = await api.getStatistics(idsString);
      if (!result) {
        return console.log('error');
      }

      this.videoSummary(searchResults, result);
    },

    /**
     * Переформировывает объект 
     */
    videoSummary(videoInfo, videoStats) {

      const info = videoInfo.map(v => {
        const { title, channelTitle, publishTime } = v.snippet;
        const thumbnail = v.snippet.thumbnails.default.url;
        const id = v.id.videoId;

        const views = videoStats.find(v => v.id === id);

        return {
          title,
          channelTitle,
          id,
          thumbnail,
          publishTime: publishTime.split('T')[0],
          views: views.statistics.viewCount
        }
      });

      this.videos = info/*.sort((a, b) => b.views - a.views)*/;
    },

    openVideo(videoId) {
      console.log('получили', videoId)
      this.currentVideoId = videoId;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped lang="scss">

</style>
