<template lang='pug'>
div.pt-3
  div.flex.flex-col
    div.flex
      img(
        :src='video.thumbnail'
        style='width: 120px; height: 90px'
      )
      div.pl-3
        button(@click='openVideo(video.id)')
          p.text-sm {{video.title}}
        div.flex
          p.text-gray-400.text-xs {{ video.views }} просмотров 
          p.px-2.text-gray-400.text-xs  | 
          p.text-gray-400.text-xs {{ video.publishTime }}
        p.text-sm {{ video.channelTitle}}
  
</template>


<script>
export default {
  name: 'VideoCard',
  props: [
    'video'
  ],
  methods: {
    openVideo(videoId) {
      console.log('отправили', videoId)
      if (!videoId) {
        return;
      }
      this.$emit('onVideoChoosed', videoId);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped lang="scss">

</style>
