<template lang='pug'>
div.h-screen.w-screen.bg-black.bg-opacity-50.fixed.left-0.top-0.flex.justify-center.items-center
  button.fixed.right-0.top-0.w-20.h-20(
    class='focus:outline-none'
    @click='closeVideo()'
  ) 
    close.text-3xl
  iframe(width="640" height="360" :src='`https://www.youtube.com/embed/${videoId}`' frameborder="0" allowfullscreen)
</template>


<script>
export default {
  name: 'VideoPlayer',
  props: [
    'videoId'
  ],
  methods: {
    closeVideo() {
      this.$emit('update:videoId', null);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped lang="scss">

</style>
