<template lang='pug'>
  div(
      class="w-full sm:w-4/6"
    )
    div.h-10.flex
      input.rounded.p-2.border-2(
        class='w-5/6'
        v-model='searchBy'
        @keyup.enter='startSearch()'
      )
      button.text-white.font-bold.py-2.border-2.px-4.mx-1.rounded.outline-none(
        class='w-1/6 focus:outline-none'
        @click='startSearch()'
      ) 
        magnify.text-black.text-lg
    template(v-if='requestText')
      div.pb-2
        p Результат поиска по запросу: "{{ requestText }}"

</template>


<script>
import api from '../api/index.js'

export default {
  name: 'Main',
  data: () => ({
    searchBy: '',
    startedSearch: false,
    requestText: ''
  }),
  methods: {
    async startSearch() {
      if (!this.searchBy || this.searchBy.length === 0) {
        return;
      }

      const result = await api.getSnippet(this.searchBy);
      if (!result) {
        return console.log('ошибка')
      }

      this.copy(this.searchBy);
      this.$emit('sendIds', result);
    },

    copy(value) {
      this.requestText = JSON.parse(JSON.stringify(value))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped lang="scss">

</style>
